.Shadow {
  position: absolute;
  bottom: 25vh;
  left: 20vw;
  font-size: 8em;
  font-family: SummerLovingSans;
}

.Name {
  position: absolute;
  bottom: 28vh;
  left: 20vw;
  font-size: 9em;
  font-family: SummerLoving;
  transform: rotate(-2deg);
}

.Name > a {
  text-decoration: none;
  color: #EA3A00;
  letter-spacing: .01em;
  text-shadow: -2px 2px 4vh #EA00A5;
  opacity: 95%;
}

.Shadow > a {
  text-decoration: none;
  opacity: 15%;
  color: #EA00A5;
}

.Home {
  min-height: calc(100vh - 7vh);
  height: 100%;
  background-color: #1B0042;
  align-items: right;
  justify-content: top;
  font-family: CompitaMedium;
  flex: auto;
}

.Nav {
  position: absolute;
  top: 14vh;
  right: 20vw;
  font-size: 2.5vh;
}

.Nav > a {
  display: inline;
  padding-left: 3vw; 
  text-decoration: none;
  color: #EA00A5;
  font-family: CompitaMedium;
}

.Nav > a:hover{
  color: #EA3A00;
}

.Content {
  min-height: calc(100vh - 7vh);
  height: 100%;
  background-color: #D4DFFF;
  align-items: right;
  justify-content: top;
  font-family: CompitaMedium;
  flex: auto;
}

@media only screen and (max-width: 600px) {
  .Content {
    min-height: calc(100vh - 7vh - 9vh);
  }
}

.Content > p {
  display: flex;
  justify-content: center;
}

.Content > a {
  position: absolute;
  top: 14vh;
  left: 20vw;
}

hr {
  width: 60vw;
}

.LastEntry {
  padding-bottom: 10vh;
}

.Filler {
  background-color: #D4DFFF;
  height: 28vh;
}

.Title {
  width: 100vw;
  font-size: 6em;
  display: flex;
  justify-content: center;
  font-family: SummerLoving;
  color: #EA3A00;
  text-shadow: 0px 0px 2vh #FF67D2;
  padding-top: 30vh;
  padding-bottom: 10vh;
}

@media only screen and (max-width: 600px) {
  .Title {
    padding-top: 25vh;
    padding-bottom: 7vh;
    font-size: 5em;
  }
}

h3 {
  font-family: SummerLovingSans;
  font-size: 2.5em;
  padding-left: 20vw;
  color: #EA00A5;
}

@media only screen and (max-width: 600px) {
  h3 {
    padding-left: 10vw;
    margin-bottom: 0;
  }
}

.Content > p {
  font-family: CompitaMedium;
  display: flex;
  justify-content: left;
  align-items: center;
  padding-left: 20vw;
  padding-right: 20vw;
  line-height: 1.5em;
  color: #3C3C3C;
}

@media only screen and (max-width: 600px) {
  .Content > p {
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 1.4em;
  }
}
/* 
.Text {
  padding-left: 20vw;
  font-size: 1em;
  width: 33vw;
  line-height: 1.3em;
  margin-right: 5vw;
}

@media only screen and (max-width: 600px) {
  .Text {
    width: auto;
    padding-left: 10vw;
    padding-right: 10vw;
    line-height: 1.4em;
  }
}


.Text > p {
  padding-bottom: .75vh;
} */

.Photo {
  background-color: #8E1AB8;
  opacity: 50%;
  margin-top: 7vh;
  margin-right: 15vw;
  width: 45vw;
  height: 40vh;
}

.Subtitle {
  position: absolute;
  top: 40vh;
  text-align: center;
  width: 100vw;
  font-size: 1.2em;
  color: #3C3C3C;
}

@media only screen and (max-width: 600px) {
  .Subtitle {
    top: 33vh;
    font-size: 1em;
  }
}

@media only screen and (min-width: 600px) {
  .About {
    top: 33vh;
    width: 33vw;
    font-size: 1em;
  }
}

footer {
  margin-top: 0;
  height: 7vh;
  background-color: #25005B;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 2.5vh;
  position: relative;
  width: 100%;
  font-family: CompitaMedium;
}

.Byline {
  position: absolute;
  align-items: right;
  padding-left: 20vw;
  left: 0;
  font-size: .75em;
  color: #EA3A00;
  text-shadow: 0px 0px 2vh #EA3A00;
}

@media only screen and (max-width: 600px) {
  .Byline {
    padding-left: 5vw;
  }
}

.Icons > a {
  padding-left: 2vw;
}

.Copyright {
  position: absolute;
  align-items: right;
  padding-right: 20vw;
  right: 0;
  font-size: .75em;
  color: #EA3A00;
  text-shadow: 0px 0px 2vh #EA3A00;
}

@media only screen and (max-width: 600px) {
  .Copyright {
    padding-right: 5vw;
  }
}