.Header {
  height: 33vh;
  width: 100vw;
  background-color: #001550;
  position: relative;
}

.Name {
  position: absolute;
  top: 18vh;
  left: 15vw;
  font-size: 7em;
  font-family: SummerLoving;
}

.Name > a {
  text-decoration: none;
  color: #FBFBFB;
  opacity: 85%;
}

.Nav {
  position: absolute;
  top: 14vh;
  right: 15vw;
  font-size: 2.5vh;
}

.Nav > a {
  display: inline;
  padding-left: 3vw; 
  text-decoration: none;
  color: #EA00A5;
  font-family: CompitaMedium;
}

.Nav > a:hover{
  color: #F0D;
}

.Content {
  height: 93vh;
  background-color: #D4DFFF;
  align-items: right;
  justify-content: top;
  font-family: CompitaMedium;
  flex: auto;
}

.Content > p {
  display: flex;
  justify-content: center;
}

.Content > a {
  position: absolute;
  top: 14vh;
  left: 15vw;
}

.Title {
  width: 100vw;
  font-size: 6em;
  display: flex;
  justify-content: center;
  font-family: SummerLoving;
  color: #EA3A00;
  text-shadow: 0px 0px 2vh #FF67D2;
  padding-top: 30vh;
  padding-bottom: 10vh;
}

.Text {
  padding-left: 15vw;
  padding-bottom: 5vh;
  font-size: 1em;
  width: 33vw;
  line-height: 1.3em;
  margin-right: 5vw;
}

.Text > p {
  padding-bottom: .75vh;
}

.Photo {
  background-color: #8E1AB8;
  opacity: 50%;
  margin-top: 7vh;
  margin-right: 15vw;
  width: 45vw;
  height: 40vh;
}

footer {
  height: 7vh;
  background-color: #001550;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 2.5vh;
  position: relative;
  width: 100%;
  font-family: CompitaMedium;
}

.Icons > a {
  padding-left: 2vw;
}

.Copyright {
  position: absolute;
  align-items: right;
  padding-right: 15vw;
  right: 0;
  font-size: .75em;
  color: #FF67D2;
  text-shadow: 0px 0px 2vh #EA3A00;
}